style
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: rgb(90, 90, 90);
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo {
    background-color: blue;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;

}

#CorpoDoContador {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100vw;
    background-color: brown;
    
}

.contador {
    
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    animation: position 6s linear infinite;
    
}
@keyframes position {
    0% {
        top: calc(0% + 88px);
        left: 100%;
    }
    35% {
        top: calc(0% + 88px);
        left: 0%;
    }
    50% {
        top: calc(100% - 315px);
        left: calc(100% - 99px);
    }
    85% {
        top: calc(100% - 315px);
        left: 0%;
    }
    100% {
        top: calc(0% + 88px);
        left: 100%;
    }
}

h1 {
    color: antiquewhite;
    display: grid;
    justify-content: center;
    align-items: flex-start;
}

p{
    font-size: 100px;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;

}
